@import '../../styles/colors.scss';

.showProject {
  visibility: visible !important;
}

@media only screen and (min-width: 0px) {
  #proj {
    .container {
      width: 100%;

      .component-title {
        color: $primary-color;
        text-align: center;
        
        h2 {
          font-weight: normal;
        }
      }

      .proj-body {
        display: flex;
        flex-flow: column;
        padding-bottom: 20px;
        margin: auto;

        .project-item {
          min-height: 250px;
          text-align: center;
          background-color: white;
          margin-bottom: 15px;

          h3 {
            margin-top: 15px;
            color: $secondary-color;
          }

          .project-right {
            margin: auto;
            padding-bottom: 15px;
            padding-left: 10px;
            padding-right: 10px;

            h3 {
              color: $secondary-color;
            }

            h4 {
              font-style: italic;
            }

            p {
              color: $text-color;
            }

            .project-stack {
              font-style: italic;
            }

            a {
              color: black;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 425px) {
  #proj {
    .container {
      .proj-body {
        .project-item {
          .project-right {
            padding-left: 15px;
            padding-right: 15px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  #proj {
    .container {
      width: 70%;

      .component-title {
        text-align: left;
      }

      .proj-body {
        max-width: unset;

        .project-item {
          animation-duration: 2s;
          -webkit-animation-duration: 2s;
          -moz-animation-duration: 2s;
          -o-animation-duration: 2s;
          -ms-animation-duration: 2s;
          animation-delay: 1s;
          -webkit-animation-delay: 1s;
          -moz-animation-delay: 1s;
          -o-animation-delay: 1s;
          -ms-animation-delay: 1s;

          .project-right {
            padding-left: 25px;
            padding-right: 25px;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  #proj {
    .container {
      .proj-body {
        .project-item {
          visibility: hidden;
          display: flex;
          justify-content: space-between;

          .project-left {
            align-self: center;
            min-width: 30%;
            margin: auto;

            h3 {
              margin-top: unset;
              margin-bottom: unset;
            }
          }

          .project-right {
            align-self: center;
            padding-left: unset;
            padding-right: unset;
            max-width: 50%;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1440px) {

}
