@import '../../styles/colors.scss';

@media only screen and (min-width: 0px) {

}

@media only screen and (min-width: 425px) {
  
}

@media only screen and (min-width: 768px) {
  
}

@media only screen and (min-width: 1024px) {
  
}

@media only screen and (min-width: 1440px) {
  
}
