@import '../../styles/colors.scss';

@media only screen and (min-width: 0px) {
  #intro {
    background: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-648410.jpg) no-repeat;
    background-size: cover;
    background-position-x: 50%;
    color: white;

    div {
      flex-flow: column;
      align-self: center;
      text-align: center;

      h1 {
        margin: 0;
        font-weight: bold;
      }

      hr {
        border-top: 1px solid white;
        max-width: 75%;
        background: white;
      }

      p {
        font-style: italic;
        padding: 0 10px;
      }

      .intro-buttons {
        display: flex;
        flex-flow: column;

        a {
          border: 1px solid slategray;
          color: $secondary-color;
          background-color: rgba(255, 255, 255, 0.9);
          width: 80%;
          text-decoration: none;
          margin: 5px auto;
          padding-top: 5px;
          padding-bottom: 5px;
          border-radius: 5px;
        }
      }
    }
  }
}

@media only screen and (min-width: 425px) {
  #intro {
    div {
      max-width: 80%;
    }
  }
}

@media only screen and (min-width: 768px) {
  #intro {
    div {
      max-width: 70%;

      .intro-buttons {
        flex-flow: row;
        margin: auto;
        margin-top: 20px;

        a {
          width: 40%;
        }
      }
    }
  }
}

@media only screen and (min-width: 1024px) {
  #intro {
    div {
      max-width: 60%;

      p {
        max-width: 70%;
        margin: auto;
      }
    }
  }
}

@media only screen and (min-width: 1440px) {

}