@import './styles/colors.scss';
@import url('https://fonts.googleapis.com/css?family=Muli');

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-color;
  font: 100% 'Muli', sans-serif;
}

.component-view {
  height: 100vh;
  display: flex;
}

@media only screen and (min-width: 0px) {
  .container {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (min-width: 425px) {
  .container {
    max-width: 90%;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  
  .container {
    max-width: 80%;
  }
}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1440px) {

}
