@import url('https://fonts.googleapis.com/css?family=Muli');
@import './styles/colors.scss';

html, body {
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-color;
  font: 100% 'Muli', sans-serif;
  overflow-x: hidden;
}

.component-view {
  min-height: 100vh;
  display: flex;
}

.component-title {
  padding-top: 50px;
}

@media only screen and (min-width: 0px) {
  .container {
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (min-width: 425px) {
  .container {
    max-width: 90%;
  }
}

@media only screen and (max-width: 768px) {
  .animated {
		/*CSS transitions*/
		-o-transition-property: none !important;
		-moz-transition-property: none !important;
		-ms-transition-property: none !important;
		-webkit-transition-property: none !important;
		transition-property: none !important;
		/*CSS transforms*/
		-o-transform: none !important;
		-moz-transform: none !important;
		-ms-transform: none !important;
		-webkit-transform: none !important;
		transform: none !important;
		/*CSS animations*/
		-webkit-animation: none !important;
		-moz-animation: none !important;
		-o-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
	}
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  
  .container {
    max-width: 80%;
  }
}

@media only screen and (min-width: 1024px) {

}

@media only screen and (min-width: 1440px) {

}
